<footer>
  <div class="container">
    <div class="col-lg-12">
      <div class="social-icon">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="copyright text-center">
        <a href="#">
          <img src="../../../assets/images/logo-meghna.png" alt="">
        </a>
        <br/>
        <p>Copyright &copy; 2015.Company name All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
